go 1.25.0

use (
	.
	./storetest
	./providers/badger
	./providers/bbolt
	./providers/bolt
	./providers/mem
	./providers/nutsdb
	./providers/pebble
	./providers/rosedb
	./middleware/crypto
	./middleware/compress
	./middleware/otel
	./middleware/crypto/age
	./middleware/crypto/kms/aws
	./middleware/crypto/kms/gcp
)
